-# coding: utf-8
!!! XML
!!!
%html
  %head
    %title
      Web De Dobon!!
    %meta{'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
    %link{:type => 'text/css',
          :href => "#{app_root}/js/lib/css/ui-lightness/jquery-ui-1.8.16.custom.css",
          :rel => 'stylesheet'}
    %link{:type => 'text/css',
          :href => "#{app_root}/styles/index.css",
          :rel => 'stylesheet'}
    %script{:type => 'text/javascript',
            :src  => "http://js.pusherapp.com/1.9/pusher.min.js"}
    %script{:type => 'text/javascript',
            :src  => "#{app_root}/js/lib/jquery.js"}
    %script{:type => 'text/javascript',
            :src  => "#{app_root}/js/lib/jquery-ui.js"}
    %script{:type => 'text/javascript',
            :src  => "#{app_root}/js/ws-dobon.js"}
    :javascript
      if(!#{@player.nil?}) { var player = #{player_json_for_view()}; }
      if(#{game_started?}) { var table  = #{deal_json_for_view()};   }
  %body
    %div#ws-dobon-main

      - # --------------------------------------------------------------
      %div#dialog-message.ui-dialog-content.ui-widget-content{:title => 'メッセージ'}
        test
      %div#dialog-select-suit.ui-dialog-content.ui-widget-content{:title=>'マークを選択して下さい。'}
        %ul#suits_list
          %li{:val=>"H"} ハート
          %li{:val=>"S"} スペード
          %li{:val=>"D"} ダイヤ
          %li{:val=>"C"} クローバー

      %div#dialog-quit-confirm.ui-dialog-content.ui-widget-content{:title => '確認'}
        本当に退出しますか？

      %div#title.container
        %h1

      - # --------------------------------------------------------------
      %div#create_room_container.container
        %h2.menu-title
          %a#menu_create_room
        %div.menu-contents
          %p
            作成するゲームの名前を入力して下さい。
          %input#room_name{:type => 'text', :value => ''}
          %button#create_room
            create
        %h2.menu-title
          %a#menu_join_room
        %div.menu-contents
          %p
            参加するゲームを選択し、プレイヤー名を入力してください。
          %input#player_name{:type => 'text', :value => ''}
          %button#join_room
            join

      - # --------------------------------------------------------------
      %div#room_list_container.container
        %h2.menu-title
          %a#menu_game_list
        %div
          %ul#room_list
            - @rooms.each do |room|
              %li.ui-widget-content
                %span.room_name{:value => "#{room.id}"}= "#{h room.name}"

      - # --------------------------------------------------------------
      %div#game_table_container.container

        %div#table_area
          - # -----------------------------
          %div#others_info
            %div#other_area_left
              %div.other_name  ---
              %div.other_score 0
              %div.other_hand 0
              %div.other_message

            %div#other_area_opposite
              %div.other_name  ---
              %div.other_score 0
              %div.other_hand 0
              %div.other_message

            %div#other_area_right
              %div.other_name  ---
              %div.other_score 0
              %div.other_hand 0
              %div.other_message

          - # -----------------------------
          %div#round_info
            %span
              Round
            %span#round_number
              0

          - # -----------------------------
          %div#table_info
            %div#played_info
              %div#played_card.playing_card_img
              %div#played_number
                -
            %div#deck_info
              %div#deck_cards.playing_card_img{:style => "background-position: -784px 0px"}
              %div#deck_number
                -
          - # -----------------------------
          %div#ruling_info

          - # -----------------------------
          %div#game_message

          - # -----------------------------
          %div#ui_message

        - # -----------------------------
        %div#player_area

          %div#hand_area
            %ol#hand

          %div#button_area
            %button#game_play
              出す
            %button#game_pass
              パス
            %button#game_dobon
              ドボン
            %button#game_ready{:value => 'ready'}
              ready
            %button#room_quit
              退出

