-# coding: utf-8
!!! XML
!!!
%html
  %head
    %title
      Web De Dobon!!
    %meta{'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
    %link{:type => 'text/css',
          :href => "#{app_root}/js/lib/css/ui-lightness/jquery-ui-1.8.16.custom.css",
          :rel => 'stylesheet'}
    %link{:type => 'text/css',
          :href => "#{app_root}/styles/index.css",
          :rel => 'stylesheet'}
    %script{:type => 'text/javascript',
            :src  => "#{app_root}/js/lib/jquery.js"}
    %script{:type => 'text/javascript',
            :src  => "#{app_root}/js/lib/jquery-ui.js"}
    %script{:type => 'text/javascript',
            :src  => "#{app_root}/js/ws-dobon.js"}
    :javascript
      if("#{@player.nil?}" == "true") {
        var player_data = null;
      }
      else {
        var player_data = {
          name: "#{@player.name unless @player.nil?}",
          room: "#{@player.room_id unless @player.nil?}",
          hand: "#{@player.hand.unpack("a2"*(@player.hand.length/2)).join(",") unless @player.nil?}"
        };
      }
  %body
    %div#ws-dobon-main

      - # --------------------------------------------------------------
      %div#dialog-message.ui-dialog-content.ui-widget-content{:title => 'メッセージ'}
        test
      %div#title.container
        %h1

      - # --------------------------------------------------------------
      %div#create_room_container.container
        %h2.menu-title
          %a#menu_create_room
        %div.menu-contents
          %p
            作成するゲームの名前を入力して下さい。
          %input#room_name{:type => 'text', :value => ''}
          %button#create_room
            create
        %h2.menu-title
          %a#menu_join_room
        %div.menu-contents
          %p
            参加するゲームを選択し、プレイヤー名を入力してください。
          %input#player_name{:type => 'text', :value => ''}
          %button#join_room
            join

      - # --------------------------------------------------------------
      %div#room_list_container.container
        %h2.menu-title
          %a#menu_game_list
        %div
          %ul#room_list
            - @rooms.each do |room|
              %li.ui-widget-content
                %span.room_name{:value => "#{room.id}"}= "#{room.name}"

      - # --------------------------------------------------------------
      %div#game_table_container.container

        %div#table_area

          - # -----------------------------
          %div#round_info
            %span
              Round
            %span#round_number
              2
          - # -----------------------------
          %div#table_info
            %div#played_info
              %div#played_card.playing_card_img
              %div#played_number
                15
            %div#deck_info
              %div#deck_cards.playing_card_img
              %div#deck_number
                21

          - # -----------------------------
          %div#others_info
            %div#other_area_left
              %div.other_name  pobo
              %div.other_score -10
              %div.other_hand_number 5

            %div#other_area_right
              %div.other_name  hiroko
              %div.other_score -55
              %div.other_hand_number 2

            %div#other_area_opposite
              %div.other_name  satoko
              %div.other_score +15
              %div.other_hand_number 6

        - # -----------------------------
        %div#player_area

          %div#hand_area
            %ol#hand

          %div#button_area
            %div.button_block
              %button#game_play
                play
              %button#game_pass
                pass
            %div.button_block
              %button#game_dobon
                dobon
              %button#game_ready{:value => 'ready'}
                ready

